@import "mixin";
body{
    background-color: #f5f5f5;
}
#headerbox{
    .headerTopbox{
        background-color: #faf3e3;
    }
    .headerMiddlebox{
        background-color: #ffe4bf;
    }
    .headerTop{
        width: 1340px;
        height: 34px;
        background-color: #faf3e3;
        margin: 0 auto;
        position: relative;
       
        .headerTopLeft{
            width: 194px;
            // overflow: hidden;
            float: left;
        
            a{
                float: left;
                width: 111px;
                height: 34px;
                margin-right: 11px;
                img{
                    width: 35px;
                    height: 18px;
                    // line-height: 18px;
                    // margin-top: 10px;
                    // display: block;
                    float: left;
                    margin-top: 7px;
                    // line-height: 18px;
                }
                span{
                    float: left;
                    font-size: 12px;
                    height: 18px;
                    // line-height: 30px;
                    margin-left: 10px;
                    margin-top: 10px;
                    color: #666666;
                    
                }
                }
                .KF-wrap{
                    position: absolute;
                    height: 80px;
                    width: 118px;
                    background-color: #ffffff;
                    z-index: 10;
                    top: 34px;  
                    left: 124px;
                    border: 2px solid #eae3d1;
                    display: none;
                    span{
                        display: block;
                        font-size: 12px;
                        line-height: 40px;
                        position: relative;
                        // margin-left: 50px;
                        // text-align: center;
                        text-indent: 50px;
                        img{
                            float: left;
                            position: absolute;
                            left: 20px;
                            top: 12px;
                        }
                        &:nth-child(1){
                            height: 40px;
                            &:hover{
                                background-color: #faf4e4;
                                // display: block;
                            }
                            // &:hover b{
                            //     // display: block;
                            // }
                            b{
                                text-indent: 0px;
                                position: absolute;
                                background-color: #ffffff;
                                left: -180px;
                                top: 0px;
                                // width: 50px;
                                display: none;
                            }
                        } 
                        &:nth-child(2){
                            height: 40px;
                            &:hover{
                                background-color: #faf4e4;
                            }
                        }
                    }
                   
                }
                
            
            .headerKFC{
                font-size: 12px;
                margin-top: 10px;
                float: left;
                height: 12px;
                border-left: 2px solid #666666;;
                padding-left: 10px;
                color: #666666;
               
            } 
            
        }
        .headerTopRight{
            float: right;
            position: relative;
            z-index: 12;
            a{
                color: #666666;
                float: left;
                padding: 0 5px;
                height: 34px;
                font-size: 14px;
                // margin-top: 9px;
                line-height: 34px;
                // z-index: 12;
                // position: relative;
            z-index: 12;
                i{
                    font-size: 8px;
                }
                &:nth-child(6){
                    padding: 0 16px 0 5px;
                }
                &:nth-child(7){
                    padding: 0 5px 0 5px;
                    border-top: 1px solid rgba($color:#ecd3b1,$alpha:0);
                    border-left: 1px solid rgba($color:#ecd3b1,$alpha:0);
                    border-right: 1px solid rgba($color:#ecd3b1,$alpha:0);
                    border-bottom: 1px solid rgba($color:#ffffff,$alpha:0);
                    &:hover{
                        border-top: 1px solid rgba($color:#ecd3b1,$alpha:10);
                        border-left: 1px solid rgba($color:#ecd3b1,$alpha:10);
                        border-right: 1px solid rgba($color:#ecd3b1,$alpha:10);
                        border-bottom: 1px solid rgba($color:#ffffff,$alpha:10);
                        background-color: #ffffff;
                        .header_attention{
                            display: block;
                            // background-color: red;
                        }
                    }
                }
                &:hover{
                    color: #ffc69a;
                }
            }
            span{
                float: left;
                padding: 0 5px;
                margin-top: 6px;
            }
            .header_attention{
                position: absolute;
                width: 250px;
                height: 150px;
                // background-color: red;
                z-index: -1;
                background-image: url("../images/erweima.jpg");
                background-position: center;
                background-size: 250px;
                border: 1px solid #ecd3b1;
                top: 35px;
                left: 149px;
                display: none;
            }
        }
    }
    .headerMiddle{
        overflow: hidden;
        width: 1340px;
        height: 140px;
        background-color: #ffe4bf;
        margin: 0 auto;
        position: relative;
        a{
            float: left;
            height: 140px;
            img{
                width: 160px;
                float: left;
                margin-top: 26px;
                margin-left: 12px;

            }
        }
        .logo_right{
            float: left;
            width: 500px;
            height: 50px;
            margin-left: 12px;
            border-left: 1px solid #efd4af;
            margin-top: 40px;
            img{
               margin-top: 4px;
                display: block;
                padding-left: 20px;
            }
        }
        .form-search{
            position: absolute;
            width: 630px;
            height: 45px;
            background-color: #1d6fb8;
            left: 470px;
            top: 41px;
            
            .search_input{
                float: left;
                width: 492px;
                height: 38px;
                border: 0px;
                margin-top: 2px;
                margin-left: 2px;
                text-indent: 42px;
            }
            img{
                position: absolute;
                top: 9px;
                left: 11px;
            }
            button{
                width: 136px;
                height: 45px;
                border: 0;
                background-color: #1d6fb8;
                cursor: pointer;
                color: #ffffff;
                font-weight: 500;
            }
        }
        .HeaderCart{
            position: relative;
            font-size: 12px;
            color: #ffffff;
            width: 135px;
            height: 45px;
            float: right;
            border-radius: 5px;
            text-indent: 59px;
            line-height: 45px;
            background: #2372b8 url("../images/gouwuche.png") no-repeat 20px 9px;
            margin-top: 41px;
            margin-right: 10px;
            #HeaderCart_sum{
                position: absolute;
                width: 24px;
                height: 24px;
                background-color: red;
                border-radius: 50%;
                left: 22px;
                top: -11px;
                text-indent: 0px;
                line-height: 24px;
                text-align: center;
            }
        }
        .host-search{
            width: 630px;
            height: 25px;
            position: absolute;
            z-index: 13;
            left: 470px;
            top: 87px;
            span{
                float: left;
                font-size: 12px;
                font-weight: 500;
                margin-right: 5px;
                height: 25px;
                line-height: 25px;
                color: #956c32;
            }
            a{
                margin-top: 6px;
                font-size: 12px;
                float: left;
                padding: 0 10px;
                height: 15px;
                border-left: 1px solid #ba9766;
                color: #ba9766;
            }
        }
        
    }
}
#navbox{
    background-color: #1d6fb8;
    .nav{
        position: relative;
        width: 1340px;
        height: 44px;
        background-color: #1d6fb8;
        margin: 0 auto;
        .nav-ul{
            
            float: left;
            li{
                float: left;
                &>a{
                    float: left;
                    padding: 0 14px;
                    color: #ffffff;
                    height: 44px;
                    line-height: 40px;
                    font-size: 15px;
                    &:hover{
                        background-color: #0d508b;
                    }
                }
                &:nth-child(3){
                    
                    @include nav;
                  
               }
               &:nth-child(4){
                 @include nav;

              }
              &:nth-child(5){
                @include nav;

             }
             &:nth-child(6){
                @include nav;

             }
             &:nth-child(7){
                @include nav;

             }
             &:nth-child(8){
                @include nav;

             }
             &:nth-child(9){
                @include nav;

             }
             &:nth-child(10){
                @include nav;

             }
            }
        }

    } 
}
#minnavbox{
    .minnav{
        width: 1340px;
        height: 50px;
        margin: 0 auto;
        line-height: 50px;
        a{
            color: #666666;
            font-size: 13px;
        }
    }
}
#magnifyingBox{
    position: relative;
    .magnifying{
        width: 1340px;
        background-color: #ffffff;
        height: 722px;
        margin: 0 auto;
        position: relative;
        .magnifying_p{
            position: absolute;
            bottom: 60px;
            left: 30px;
            p{
                font-size: 13px;
                color: #999999;
                margin-bottom: 10px;
                span{
                    color: black;
                }

            }
        }
        .magnifyingLeft{
            width: 494px;
            height: 560px;
            position: absolute;
            left: 34px; 
            top: 34px;
            i{
                position: absolute;
                bottom: 0;
                right: 0;
                font-size: 28px;
            }
            #small{width: 468px; height: 468px;border: 1px solid #ccc; position: absolute; left: 0px; top: 0px;}
            #small img{width: 100%; height: 100%;}
            #mark{display: none;width: 200px; height: 200px; background-color: black; opacity: 0.5; filter: (opacity=50); position: absolute; left: 0px; top: 0px;}
            #big{width: 468px; height: 468px; border: 1px solid #ccc ; position: absolute; left: 510px; top: 0px; display: none; overflow: hidden;z-index: 5;}
            #big img{position: absolute; width: 938px; height: 938px;}    
            .magnifyingBottom{
                position: absolute;
                width: 494px;
                bottom: 0px;
                a{
                    position: absolute;
                    bottom: 0;
                    &:nth-child(1){
                        display: inline-block;
                        width: 33px;
                        height: 70px;
                        border: 1px solid #cccccc;
                        text-align: center;
                        line-height: 70px;
                        color: #cccccc;
                        &:hover{
                            border: 1px solid #498ac6;
                            color: #78a9d5;
                        }
                    }
                    &:nth-child(2){
                        display: inline-block;
                        width: 70px;
                        height: 70px;
                        border: 1px solid #498ac6;
                        text-align: center;
                        left: 50px;
                        img{
                            margin-top: 5px;
                        }
                    }
                    &:nth-child(3){
                        display: inline-block;
                        width: 33px;
                        height: 70px;
                        border: 1px solid #cccccc;
                        text-align: center;
                        line-height: 70px;
                        color: #cccccc;
                        right: 23px;
                        &:hover{
                            border: 1px solid #498ac6;
                            color: #78a9d5;
                        }
                    }
                    
                }
            }
        }
        .magnifyingRight{
            width: 742px;
            height: 480px;
            position: absolute;
            left: 548px;
            top: 35px;
            h1{
                font-size: 20px;
                font-weight: 700;
            }
            img{
                position: absolute;
                right: 0px;
                top: 0;
            }
            .magnifyingRight-conter{
                width: 742px;
                height: 107px;
                background-color: #fff4e5;
                position: absolute;
                top: 48px;
                border-bottom: 1px dashed #ddd;
                .conter-top{
                    position: absolute;
                    height: 25px;
                    top: 25px;
                    div{
                        left: 11px;
                        font-size: 12px;
                        position: relative;
                        
                        &:nth-child(1){
                            position: absolute;
                            height: 23px;
                            line-height: 23px;
                            font-size: 14px;
                            color: #999999;
                        }
                        &:nth-child(2){
                            font-size: 21px;
                            color: #ff9933;
                            left: 92px;
                            top: 0;
                            font-weight: 700;
                        }
                        &:nth-child(3){
                            width: 56px;
                            height: 23px;
                            background-color: #ff9933;
                            text-align: center;
                            line-height: 23px;
                            font-size: 12px;
                            color: #ffffff;
                            position: absolute;
                            left: 205px;
                            top: 0;
                        }
                        &:nth-child(4){
                            position: relative;
                            left: 282px;
                            top: -11px;
                            color: #999999;
                        }
                    }
                 
                   
                }
                .conter-bottom{
                    position: absolute;
                    height: 25px;
                    top: 70px;
                    div{
                        left: 11px;
                        font-size: 12px;
                        position: relative;
                        &:nth-child(1){
                            font-size: 14px;
                            color: #999999;
                        }
                        &:nth-child(2){
                            position: absolute;
                            top: 3px;
                            left: 91px;
                            color: #999999;
                            text-decoration: line-through;
                            font-weight: 700;
                        }
                    }
                }
            }
            .magnifyingRight-2{
                position: absolute;
                top: 168px;
                width: 325px;
                height: 120px;
                left: 11px;
                .magnifyingRight-2-left{
                    width: 90px;
                    height: 120px;
                    float: left;
                    font-size: 14px;
                }
                .magnifyingRight-2-right{
                    float: left;
                    font-size: 14px;
                    p{
                        color: #f15151;
                        margin-bottom: 15px;
                        a{
                            color: #0b94d9;
                        }
                    }
                }
            }
            .magnifyingRight-2-1{
                position: absolute;
                top: 288px;
                width: 500px;
                left: 11px;
                .magnifyingRight-2-left{
                    width: 90px;
                    height: 120px;
                    float: left;
                    font-size: 14px;
                }
                .magnifyingRight-2-right{
                    float: left;
                    font-size: 14px;
                    p{
                        color: #f15151;
                        margin-bottom: 15px;
                        a{
                            color: #0b94d9;
                        }
                    }
                }
            }

            .magnifyingRight-2-2{
                position: absolute;
                top: 325px;
                width: 500px;
                left: 11px;
                .magnifyingRight-2-left{
                    width: 90px;
                    height: 120px;
                    float: left;
                    font-size: 14px;
                }
                .magnifyingRight-2-right{
                    float: left;
                    font-size: 14px;
                    p{
                        color: #f15151;
                        margin-bottom: 15px;
                        a{
                            color: #0b94d9;
                        }
                    }
                }
            }
            //数量加减按钮
            .magnifyingRight-2-3{
                position: absolute;
                top: 370px;
                width: 600px;
                left: 11px;
                .magnifyingRight-2-left{
                    width: 90px;
                    height: 120px;
                    float: left;
                    font-size: 14px;
                }
                .magnifyingRight-2-right{
                    float: left;
                    font-size: 14px;
                    margin-top: -6px;
                    span{
                        display: inline-block;
                        font-size: 12px;
                        margin-top: 10px;
                        margin-left: 10px;
                    }
                    input{
                        &:nth-child(1){
                            
                            float: left;
                            width: 30px;
                            height: 30px;
                            border: 1px solid #e1e1e1;
                            font-size: 20px;
                            background-color: #ffffff;
                        }
                        &:nth-child(2){
                            float: left;
                            width: 56px;
                            height: 26px;
                            margin-top: 0px;
                            text-align: center;
                            border-top: 1px solid #e1e1e1;
                            border-bottom: 1px solid #e1e1e1;
                            border-left: 0;
                            border-right: 0;
                        }
                    
                        &:nth-child(3){
                            float: left;
                            width: 30px;
                            height: 30px;
                            border: 1px solid #e1e1e1;
                            background-color: #ffffff;
                        }
                    }
                    #add{
                        position: absolute;
                        left: 0px;
                        top: 50px;
                        width: 188px;
                        height: 48px;
                        background-color: #ff9933;
                        border: 0;
                        font-weight: 700;
                        font-size: 19px;
                        color: #ffffff;
                        border-radius: 5px;
                        &:hover{
                            background-color: #ef8821;
                        }
                    }
                    #collect{
                        position: absolute;
                        width: 188px;
                        top: 50px;
                        height: 48px;
                        left: 208px;
                        background-color: #ffffff;
                        border: 0;
                        font-weight: 100;
                        font-size: 19px;
                        color: #000000;
                        border-radius: 5px;
                        border: 1px solid #e0e0e0;
                    }
                }
            }
        }
        
    }
}
// 相关推荐开始
#relatedBox{
    background-color: red;
    .related{
        width: 1340px;
        height: 476px;
        background-color: skyblue;
        margin: 0 auto;
        h2{
            height: 42px;
            width: 1340px;
            background-color: pink;
            line-height: 42px;
            font-size: 18px;
            font-weight: 700;
        }
        
    }
}
#newProductBox{
    margin-top: 10px;
    .newProduct{
        width: 1340px;
        height: 351px;
        margin: 0 auto;
        .newProductTop{
            width: 1340px;
            height: 50px;
            position: relative;
            // background-color: #ffffff;
            h2{
                line-height: 50px;
                font-size: 18px;
                font-weight: 700;
                margin: 0px 0 0 36px;
                // float: left;
            }
            
        }
        .newProductBottom{
            height: 296px;
            width: 1340px;
            margin: 0 auto;
            background-color: #ffffff;
            position: relative;
           .newProductBottom_class{
               width: 1190px;
               height: 301px;
               overflow: hidden;
               margin: 0 auto;
            //    margin-top: 8px;
            ul{
                width: 1200px;
                height: 296px;
                margin: 0 auto;
                position: relative;
                left: 588px;
                display: flex;
                justify-content: center;
                align-content: center;
                li{
                   
                    // width: 250px;
                    height: 296;
                    float: left;
                    border-right: 1px solid #cccccc;
                    position: relative;
                    .ProductImg{
                        width: 235px;
                        display: block;
                        // margin-top: 10px;
                        // margin:0 auto;
                        img{
                            width: 200px;
                            height: 200px;
                            margin-left: 17px;
                        }
                    }
                    .ProductName{
                        width: 200px;
                        margin-top: 5px;
                        text-align: left;
                        font-size: 12px;
                        line-height: 16px;
                        height: 32px;
                        display: block;
                        margin-left: 15px;                        
                    }
                    .price{
                        margin-top: 8px;
                        width: 90px;
                        height: 41px;
                        text-align: left;
                        display: inline-block;
                        margin-left: 15px;
                        .price_1{
                            font-size: 20px;
                            font-weight: 700;
                            color: #333;
                            margin-top: 4px;
                            display: block;
                        }
                        .price_2{
                            color: #999;
                            text-decoration: line-through;
                            margin-left: 5px;
                            margin-top: 3px;
                            font-size: px;
                            font-size: 14px;
                        }
                    }
                    #OrangeButton{
                        width: 60px;
                        height: 40px;
                        background-color: orange;
                        line-height: 40px;
                        border: 0;
                        cursor: pointer;
                        display: inline-block;
                        border-radius: 5px;
                        position: absolute;
                        top: 247px;
                        left: 154px;
                        font-size: 25px;
                        text-align: center;
                        color: #ffffff;
                        &:hover{
                            background-color: #ef8821;
                        }
                    }
                    &:nth-child(5){
                        border-right: 0;
                    }
                    &:nth-child(10){
                        border-right: 0;
                    }
                }
            }
         }
            #newProductBottom-left{
                position: absolute;
                width: 50px;
                height: 68px;
                background-color: #dadada;
                font-size: 30px;
                text-align: center;
                line-height: 68px;
                color: #ffffff;
                left: 8px;
                top: 120px;
                cursor: pointer;
                border-radius: 5px;
                &:hover{
                    background-color: #bfbfbf;
                }
            }
            #newProductBottom-right{
                position: absolute;
                width: 50px;
                height: 68px;
                background-color: #dadada;
                font-size: 40px;
                text-align: center;
                line-height: 68px;
                color: #ffffff;
                right: 8px;
                top: 120px;
                cursor: pointer;
                border-radius: 5px;
                &:hover{
                    background-color: #bfbfbf;
                }
            }
        }
    }
}
//大图片开始
#maxImgBox{
    margin-top: 22px;
    .maxImg{
        width: 1340px;
        height: 168px;
        margin: 0 auto;
        // border: 0;
        overflow: hidden;
        img{
            width: 1340px;
            height: 168px;
            
        }
    }
}
//热销排行榜
#hotsellBox{
    margin-top: 22px;
    .hotsell{
        width: 1340px;
        height: 2299px;
        margin: 0 auto;
        .hotsellLeft{
            width: 259px;
            float: left;
            height: 2299px;
            position: relative;
            .hotsellLeft-top{
                width: 259px;
                height: 66px;background-color: #ffffff;
                border-bottom: 1px solid #efefef;
                float: left;
                h2{
                    font-size: 21px;
                    font-weight: 700;
                    margin-left: 18px;
                    margin-top: 24px;
                }
                // 内容开始
                .otsellLeft-top-1{
                    position: relative;
                    // top: 45px;
                    left: 0px;
                    // height: 400px;
                    height: 360px;
                    // border: 1px solid #000000;
                    background-color: #ffffff;
                    &:hover button{
                        display: block;
                    }
                    &:hover{
                        border: 1px solid #1d6fb8;
                    }
                    button{
                        position: absolute;
                        width: 223px;
                        height: 39px;
                        background-color: #ff9933;
                        bottom: 6px;
                        left: 0;
                        border: 0;
                        z-index: 2;
                        left: 18px;
                        font-size: 13px;
                        font-weight: 700;
                        color: #ffffff;
                        cursor: pointer;
                        display: none;
                    }
                    img{
                        width: 210px;
                        height: 210px;
                        left: 24px;
                        margin-left:24px;;
                    }
                    span{
                        position: absolute;
                        z-index: 2;
                        display: block;
                        left: 24px;
                        &:nth-child(2){
                            width: 70px;
                            height: 20px;
                            border: 1px dashed #ff9933;
                            font-size: 12px;
                            text-align: center;
                            line-height: 20px;
                            color: #ff9933;
                            top: 185px;
                        }
                        &:nth-child(3){
                            font-size: 19px;
                            color: #ff9933;
                            font-weight: 700;
                            top: 210px;
                        }
                        &:nth-child(4){
                            font-size: 12px;
                            color: #999999;
                            top: 215px;
                            left: 200px;
                        }
                        &:nth-child(5){
                            font-size: 12px;
                            color: #999999;
                            top: 235px;
                        }
                        &:nth-child(6){
                            font-size: 12px;
                            color: #000000;
                            top: 255px;
                            // font-weight: 700;
                        }
                        &:nth-child(7){
                            width: 223px;
                            font-size: 12px;
                            color: #999999;
                            bottom: 43px;
                            height: 20px;
                            left: 18px;
                            border-bottom: 1px solid #f6f6f6;
                            // font-weight: 700;
                        }


                    }
                }
                 // 内容结束
            }
        }
        .hotsellRight{
            width: 1068px;
            float: right;
            height: 2299px;
            .hotsellRight-top{
                height: 63px;
                background-color: #ffffff;
                width: 1068px;
                border-bottom: 1px solid #efefef;
                div{
                    float: left;
                    width: 88px;
                    height: 60px;
                    line-height: 66px;
                    margin-left: 9px;
                    text-align: center;
                    border-bottom: 2px solid #ffffff;
                    cursor: pointer;
                }
                .active{
                    border-bottom: 2px solid blue;
                }
            }
            .hotsellRight-bottom-1{
                background-color: #ffffff;
                height: 2000px;
                // display: none;
                p{
                    width: 800px;
                    margin: 0 auto;
                }
            }
            .hotsellRight-bottom-2{

                background-color: #ffffff;
                height: 2000px;
                display: none;
                p{
                    width: 800px;
                    margin: 0 auto;
                }
                strong{
                    font-weight: 700;
                }
            }
        }
    }
}

//介绍、
#introduceBox{
    background-color: #1d6fb8;
    .introduce{
        width: 1340px;
        height: 191px;
        background-color: #1d6fb8;
        margin: 0 auto;
        overflow: hidden;
        .introduceLeft{
            margin-top: 15px;
            width: 740px;
            float: left;
            h2{
                font-size: 16px;
                line-height: 30px;
                display: inline-block;
                border-bottom: 1px solid #b8b8b8;
                color: #ffffff;
            }
            .p1{
                margin-top: 10px;
                font-size: 12px;
                color: #ffffff;
                line-height: 25px;
            }
            .p2{
                margin-top: 10px;
                font-size: 12px;
                color: #ffffff;
                line-height: 25px;
            }
        }
        .introduceRight{
            float: right;
            margin-right: 60px;
            margin-top: 40px;
            p{
                margin-top: 20px;
                color: #ffffff;
            }
            .introduceRight_1{
                float: left;
                margin-right: 20px;
            }
            .introduceRight_2{
                float: left;
            }
            img{
                width: 97px;
                height: 97px;
            }
        }
    }
}
//底部
#bottomBox{
    .bottom{
        width: 1340px;
        height: 310px;
        margin: 0 auto;
        overflow: hidden;
        a{
            display: block;
        }
        .bottomTop{
            height: 128px;
            width: 1340px;
            float: left;
            margin-top: 30px;
            margin-right: 50px;
            margin-bottom: 40px;
            position: relative;
            .bottomTop_1{
                float: left;
                margin-right: 50px;
                p{
                    color: #333;
                    margin-bottom: 20px;
                    font-size: 15px;
                    // line-height: .5;
                    font-weight: 900;
                }
                a{
                    // margin-top: 20px;
                    font-size: 12px;
                    line-height: 24px;
                    color: #666666;
                }
            }
            .bottomTopRight{
                width: 400px;
                margin-top: 10px;
                margin-left: 100px;
                position: absolute;
                right: 200px;
                p{
                    margin-bottom: 10px;
                    img{
                        float: left;
                    }
                    a{
                        // float: left;
                        text-indent: 5px;
                    }
                }
            }
           
        }
        .bottomX{
            // margin-top: 100px;
            width: 1340px;
            height: 60px;
            text-align: center;

        }
    }
}